
/*------------------------------------*\
    LINK CARD
\*------------------------------------*/
.choose-link {}
.link--container{
    width: 86%;
    margin: 25vw auto 0;
    border: var(--greyborder) solid 0.3vw;
    border-radius: var(--rad);
    background: var(--whiteb);
    text-align: center;
    padding: 7vw 3vw 5vw;
    display: flex;
    height: 66vw;
    flex-direction: column;
    justify-content: center;
}
.link--container h3{
    color: inherit;
    font-weight: 400;
}
.link-wri{
    height: 22vw;
    width: 100%;
    margin: 4vw 0;
}
.choose-link .btn--container{}
.choose-link .btn{}

.star--svg{
    height: 5vw;
}
.star{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 3vw auto 2vw;
    width: fit-content;
}
.star h3{
    color: var(--greenb);
    margin: 0 8vw;
}
.choose-link ul{
    margin-left: 6%;
}
.choose-link li{
    list-style-type: disc;
    margin-left: 7%;
}

/*------------------------------------*\
    CARD LIST
\*------------------------------------*/


.card--item--container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 1.5vw;
}

.card_owner{
    border-radius: var(--rad);
    background: var(--greenblue);
    padding-bottom: 2.5vw;
    display: flex;
    flex-direction: column;
}
.card--item--container .btn {
    font-size: 2.3vw;
    width: 21vw;
    margin-left: 2vw;
}

.item--under_menu{border-radius: 0vw 0vw 1vw 1vw;margin-top: -1vw;background: var(--khaki);color: var(--white);display: flex;justify-content: flex-end;}

.buy_item--container {
    width: 93%;
    border-radius: 1.5vw;
    margin: auto;
    box-shadow: var(--shadow1);
    margin: 4vw auto;
    border-radius: var(--rad);
}

.buy_item--container.hide{filter: grayscale(100%);}