.buy--home{}
.buy--home .header_2--container{
    height: 10vw;
}
.buy--home .header--buy_title{}
.buy--home .header_2--compensator{
    height: 10vw;
}
.buy--home .item_container{}
.buy--home .global_item--container{width: 93%;border-radius: 1.5vw;margin: auto;box-shadow: var(--shadow1);background-color: var(--black2);}
.buy--home .item--container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
    z-index: 2;
    border-radius: var(--rad);
    cursor: pointer;
    box-shadow: none;
    padding: 1.5vw 1vw 1.2vw 2vw;
}
.buy--home .item_text{
    width: 70%;
    display: initial;
}
.buy--item--title{}
.buy--item--name{
    font-size: 1.9vw;
}
.buy--home .item_quantity{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
    width: 30%;
}
.buy--home .total{
    align-self: flex-end;
    margin: 2vw 0;
}
.global--total{
        margin: 2vw 0;
        font-size: 5.9vw;
        margin: 0 4vw;
        font-weight: 600;
}
.buy--home .quantity{
    display: flex;
}
.buy--home .quantity h3{
    color: inherit;
}
.buy--home .quantity p{
    margin: auto;
    font-weight: 700;
}
.buy--home .counter--pop_up{
    height: 4.38vw;
    width: 4.38vw;
    padding: 0.6vw;
}
.buy--home .lear_more--container{
    background-color: var(--whiteb);
    height: 100%;
    border-radius: 1vw;
    width: 97.8%;
    margin: 2vw 1vw 1vw;
    position: relative;
    top: -1vw;
    padding: 2vw;
}

.buy--home .btn--more{
    font-size: 2vw;
    background-color: var(--black2);
    height: 4.7vw;
}
.buy--home .open--more{}


.buy--home .total--container{
    background-color: var(--grey);
}

.total--compensator{
    height: 8.5vw;
    margin-top: 4vw;
}
/*------------------------------------*\
    COUNTER
\*------------------------------------*/
.counter.help--container {
    z-index: 3;
}
.counter .help--content {
    text-align: center;
    height: auto;
}
.counter--title {
    font-weight: 600!important;
}
.counter--name{
    color: var(--blue);
    margin: 6vw;
}
.counter .txt{}
.result--container{
    display: flex;
    justify-content: center;
    margin: 3vw 8vw;
}
.result{
    border: var(--greyborder) solid 0.3vw;
    border-radius: var(--rad);
    font-size: 12vw;
    color: inherit;
    /* padding: 3vw 7vw; */
    min-width: 25vw;
    min-height: 19vw;
    display: flex;
    padding: 0 2vw;
    justify-content: center;
    align-items: center;
}
.counter--btn{
    font-size: 13vw;
    padding: 0;
    width: 9vw;
    display: flex;
    height: 9vw;
    align-items: center;
    justify-content: center;
}

.counter--description{
    color: inherit;
    margin: 5vw 12vw;
}



/*------------------------------------*\
    POLICE
\*------------------------------------*/

.Policy {}



.explanation--red {
    display: flex;
    justify-content: center;
    height: 6vw;
    align-items: center;
    background-color: var(--redb);
    margin: 14vw 0 6vw;
}
.explanation--title{
    color: inherit;
    font-weight: 400;
    margin: 0 5vw 3vw 7vw;
}

.Policy .explanation {margin: 0 7vw;font-size: 2.4vw;}

.explanation--list {
    margin-left: 7vw;
}
.explanation--list li{
}
.explanation--list li:before {content: "- " ;}
.policy--link{
    display: flex;
    justify-content: center;
}

.policy--image{width: 100%;height: 24vw;margin-top: 14vw;}

.policy--input{
    margin-left: 7vw;
    display: flex;
}

.policy--link{
    margin: 4vw auto 7vw;
    color: var(--btnred);
}



.Policy.notchecked .btn_confirm{

    background-color: var(--grey);
    pointer-events: none;
}

.Policy.notchecked .footer--container a{
    pointer-events: none;
}


.Policy .checkbox{
    border: solid 0.2vw;
}

.policy.checked .checkbox{
    color:var(--btnred);
}


/*------------------------------------*\
    STEPS  
\*------------------------------------*/


.steps{
}

.steps .header_2--container{
    height: 37vw;
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.steps .header_2--container h3{
    margin: 4vw auto 5vw;
}
.steps--image{}

.steps--explanation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4vw;
}
.steps--explanation p{
    color: var(--white);
    font-size: 2.1vw;
}
.steps--svg{
    height: 14.2vw;
    width: 100%;
}


/*------------------------------------*\
    PERSONAL INFORMATION
\*------------------------------------*/

.p_info{
    padding-bottom: 7vw;
}
.p_info .total--container{
    background-color: var(--grey);
}

.p_info .global--total{}
.p_info .item--container{
    padding: 1vw 3vw 2vw 6vw;
}
.p_info .item_text{}
.p_info .buy--item--title{
}
.p_info input{
    border-radius: var(--rad);
    margin: 0.6vw 0;
    height: 3.8vw;
    padding: 1vw;
    text-transform: uppercase;
    font-size: 2.3vw;
}

.p_info input::placeholder{
    font-size:1.9vw;
    font-style:italic;
        font-weight: 400;
    
}
.p_info .policy--input{
    margin: 1vw 0;
}
.p_info .buy--item--name{}
.p_info .checkbox--explanation{
    font-size: 1.6vw;
    margin-left: 1vw;
    display: flex;
    color: var(--white);
    align-items: center;
}
.p_info .global_item--container{}
.p_info .first_name{
    width: 49%;
    font-weight: 700;
}
.p_info .last_name{
    width: 49%;
    float: right;
    font-weight: 700;
}
.p_info .email{
    width: 100%;
}



/*------------------------------------*\
    BUY INFO
\*------------------------------------*/


.buy--info {padding-top: 24vw;}

.buy--info h3{
    color: inherit;
    font-weight: 400;
    text-align: center;
    width: 86%;
}

.buy--info h4{
    font-weight: 500;
    margin-top: 1vw;
}


.buy--info .image1 {
    margin: 3vw auto 7vw;
    width: 82%;
    height: 18vw;
    display: block;
}

.buy--info .middle--container {
    display: flex;
    margin: 3vw 3vw 6vw 7vw;
    justify-content: space-around;
}

.buy--info .middle--container h4{
    color: inherit;
}

.buy--info .middle--container svg{
    height: 12vw;
    width: 100%;
}

.buy--info .middle--container p{
    margin: 0.6vw 0;
}

.buy--info .left {
    width: 43%;
}

.buy--info .image_cb {
}

.buy--info .right {
    width: 43%;
}

.buy--info .image_cash {}

.buy--info .bottom--container {
    display: flex;
    width: 85%;
    align-items: center;
    margin: 2vw auto;
    justify-content: space-around;
}

.buy--info .bottom--container > div{}

.buy--info .bottom--container h2{
    color: inherit;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vw;
}

.buy--info .bottom--container svg{
    height: 20vw;
    width: 100%;
}

.buy--info .image_shop{}

.buy--info .image_tshirt {}

.buy--info  .image_food {}


/*------------------------------------*\
    BUY GLOBAL
\*------------------------------------*/

.buy--global{
    padding-bottom: 19vw;
}
.admission_pass{
    bottom: 24.2vw;
    height: 5.71vw;
}
.admission_pass h4{
   
margin: 0 4vw;
   
font-size: 2.5vw;
}

.admission_pass .global--total{
    font-size: 4vw;
}
.fund_added{
    bottom: 19.5vw;
    height: 4.8vw;
    background-color: var(--orange)!important;
}
.fund_added h4{
   
margin: 0 4.2vw;
   
font-size: 2.5vw;
}

.buy--global .total--container{
    background-color: var(--grey);
}

/*------------------------------------*\
    BUY GLOBAL PAIEMENT
\*------------------------------------*/

.buy--global--paiement{}

.buy--global--paiement .total--container{
     background-color: var(--grey);
}

/*------------------------------------*\
    BUY FORM PAIEMENT
\*------------------------------------*/

.paiement--form{padding-top: 21vw;}
.paiement--form .form--container{grid-template-columns: 1fr 1fr;display: grid;grid-gap: 3vw 6vw;padding: 2vw 4vw;background-color: var(--orange);}
.paiement--form .label_container{}
.paiement--form .label{
    font-size: 2vw;
}
.paiement--form .last_name{
}
.paiement--form .first_name{}
.paiement--form .email{}
.paiement--form .phone{}
.paiement--form .policy--input{
    grid-column: 1/3;
    display: flex;
}

.sms--container .checkbox,
.email--container .checkbox{
    height: 4vw;
    width: 4vw;
}

.smsChecked .sms--container .checkbox:before,
.emailChecked .email--container .checkbox:before{

width: 5.7vw!important;

top: -2vw!important;

left: -1vw;
}
.paiement--form .checkbox:before{}

.refundChecked .refund--container .checkbox:before,
.smsChecked .sms--container .checkbox:before,
.emailChecked .email--container .checkbox:before{
    
content:url("/img/checked.svg");
position: absolute;
width: 3.7vw;
top: -1.2vw;
}


/* when sms checked: email disable */
/* When email checked: sms disable */
.smsChecked .email--container,.emailChecked .sms--container{
opacity: 0.5;
pointer-events: none;
}
.paiement--form .checkbox--explanation{
    margin-left: 1vw;
}
.paiement--form .receipt--choose{
    grid-column: 1/3;
    margin: 0;
    text-transform: inherit;
    color: inherit;
}
.paiement--form input{
    width: 100%;
    padding: 1vw;
    font-size: 2.3vw;
    height: auto;
}
.paiement--form input::placeholder{
    font-size:1.9vw;
    font-style:italic;
        font-weight: 400;
    
}
.paiement--form .email--container{
    display: flex;
    place-self: center;
}
.paiement--form .refund--container{
    display: flex;
    grid-column: 1/3;
}
.paiement--form .sms--container{
    display: flex;
}
.paiement--form .requier{
    margin: 0;
    font-size: 1.5vw;
}
.paiement--form .card--explanation{
    height: auto;
    padding: 2vw;
}
.paiement--form .paiement--image{
    width: 100%;
    height: 35vw;
    margin: 6vw auto;
}
.paiement--form .

