/*------------------------------------*\
    Home
\*------------------------------------*/


.home--logo {
    height: 37vw;
    margin: 6vw auto 0;
    display: flex;
}

.home--btn_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16vw 13vw 0;
    width: 75vw;
    align-items: center;
    height: 75vw;
}

.home--container .home_btn{
    flex-direction: column;
    padding: 5vw 0 1vw 0;
}

.home--container .home--btn_container a:nth-child(4) .home_btn{
    background: var(--grey);
}
.home_btn {
    width: 32vw;
    height: 32vw;
    background: var(--orangered);
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    position: relative;
    align-items: center;
    box-shadow: -0.1vw 0px 3vw 0.1vw rgba(0, 0, 0, 0.36);
}

.home_btn:before {
    content: '';
    border: var(--white) 0.5vw solid;
    position: absolute;
    width: 30vw;
    height: 30vw;
    top: 1vw;
    right: 1vw;
}

.home_btn--content {
    color: var(--white);
    font-size: 4.2vw;
    font-weight: 600;
}
.home--svg_container{
    margin: auto;
}

.home--svg{
    width: auto;
    height: 12vw;
}
