
/*------------------------------------*\
    Header
\*------------------------------------*/

.header--cross {
    height: 10vw;
    width: 10vw;
    right: 0vw;
    top: 0vw;
    padding: 0;
    position: absolute;
    background-color: inherit;
    box-shadow: none;
}

.App--header {
}

.header--container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--orangered);
    height: 9.52vw;
    width: 100%;
    top: 0;
    z-index: 2;
}

.header--title {
    margin: 0;
    justify-self: center;
}

.header--compensator {
    height: 9.52vw;
}

/*------------------------------------*\
    Footer
\*------------------------------------*/

footer {
}

.App-Footer {
    background-color: var(--black2);
    height: 11vw;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    padding: 2vw;
    z-index: 2;
}

.footer--container {
    display: flex;
    justify-content: inherit;
}

.footer--container a{
    margin: auto;
}

.back:before {
    content: '<';
    font-size: 8vw;
    font-family: cursive;
    height: 0vw;
    line-height: 0;
}

.back {
    padding-top: 0vw;
    width: 7vw;
}

.footer--compensator{
    height: 11vw;
}
