/*------------------------------------*\
    Retrieve
\*------------------------------------*/


.header--retrieve_h2 {}

.header--retrieve_h3 {
    color: var(--white);
}

iframe {
    width: 87%;
    margin: auto;
    display: flex;
}



.retrieve--home--container {
    width: 87vw;
    margin: 5vw auto 4vw;
    display: flex;
}

.retrieve--home {
    height: 28.52vw;
}

.or_container {
    justify-content: space-around;
    align-items: center;
}

.separator {
    width: 34vw;
    height: 0.1vw;
    border: var(--grey) 0.1vw solid;
}

.or {
    font-size: 5.9vw;
    margin: auto;
    color: var(--grey);
}

.retrieve--down {
    flex-direction: column;
}

.retrieve--down h4 {margin: 0 0 1vw;}

.retrieve--down input {
    height: 7vw;
    border-radius: var(--rad);
    padding: 0.5VW 1VW;
    font-size: 3vw;
}

.retrieve--down .btn {
    background-color: var(--btnred);
    align-self: flex-end;
    width: var(--btnsize1);
    margin-top: 2vw;
}
