/*------------------------------------*\
    Wristand
\*------------------------------------*/

.wristband {
    height: 100vh;
    background-color: var(--orange);
    text-align: center;
}

.wristband h4 {
    font-size: 2.8vw;
    color: var(--white);
    position: relative;
    text-transform: uppercase;
    margin: 0 5vw;
}

.wristband a {}

.wristband--names {
    top: 31vw;
}

.wristband--title {
    top: 33vw;
}

.wristband--image {
    position: relative;
    top: 45vw;
}

.wristband--image svg {
    height: 61vw;
    width: auto;
}

.end{
    margin-bottom: 32vw;
}
.wristband--image.end svg{
    height: 32vw;
}

.wristband--message {
    top: 51vw;
}

.wristband_retrieve {}

.wristband_tap {
    background-color: var(--redb);
}

.wristband_first {}

.wristband_ok {
    background-color: var(--greenb);
}

.w--footer{
    font-weight: 500;
    margin: 3.5vw 1vw 0;
    font-size: 1.7vw;
    /* line-height: 9vw; */
}
.w--print{
    margin: 0vw 30vw 0 2vw;
    font-weight: 600;
}
.wristband_first .footer--container{
    justify-content: center;
}